<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>

<h1>Your News Feed.</h1>
<p>View the dumb stuff your friends post.</p>
<div>--------------------------------------------------------------------------------</div>

<a href="http://127.0.0.1:5000/notifications">
    <button>Go to your notifications</button>
</a>
<a href="http://127.0.0.1:5000/inbox">
    <button>Check your inbox</button>
</a>
<form action="http://127.0.0.1:5000/submit_message" method="post">
    <label for="send_message">Send Message:</label><br>
    <input type="text" id="send_message" name="send_message" required><br><br>
    <input type="submit" value="Send to Inbox">
</form> 
</body>
</html>