<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
</style>
</head>
<body>

<h1>FAKE SOCIAL MEDIA MAIN PAGE.</h1>
<p>MAIN PAGE SHENANIGANS.</p>

<form action="/action_page.php">
    <label for="send_message">Send Message:</label><br>
    <input type="text" id="send_message" name="send_message" value=" "><br><br>
    <input type="submit" value="Submit">
</form> 

<a href="http://127.0.0.1:5000/notifications">
    <button>Go to your notifications</button>
</a>

<a href="http://127.0.0.1:5000/inbox">
    <button>Check your inbox</button>
</a>
</body>

</html>