<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>
<h1>Welcome to your Social Media Inbox.</h1>
<p>Messages from members will appear here.</p>
<div>This is a div.</div>
<ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
</ul>
<a href="http://127.0.0.1:5000/feed">
    <button>Check your Feed</button>
</a>
<a href="http://127.0.0.1:5000/notifications">
    <button>Go to your notifications</button>
</a>
</body>
</html>