<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center; margin-bottom: 10px;}
ul { 
    list-style-position: inside;  /* Center-align bullets with the text */
    padding: 0;  /* Remove default padding */
}
.buttons {text-align: left;}
</style>
</head>
<body style="background-color: aqua;">
<h1>Welcome to your Social Media Inbox.</h1>
<p>Messages from members will appear here.</p>
<div>
    <ul>
        {% for dm in dms %}
            <li>{{ dm }}</li>
        {% endfor %}
    </ul>
</div>
<div class="buttons">
    <a href="http://127.0.0.1:5000/feed">
        <button style="background-color: gold;">View Your Feed</button>
    </a>
</div>
<div class="buttons">
    <a href="http://127.0.0.1:5000/notifications">
        <button style="background-color: rgb(185, 255, 127);">Go to your Notifications</button>
    </a>
</div>
<div class="buttons">
    <a href="http://127.0.0.1:5000/dms">
        <button style="background-color: crimson; color: white;">Send Another DM</button>
    </a>
</div>
<div class = "buttons">
    <a href="http://127.0.0.1:5000/logout">
        <button style="background-color: black;color: white;">Logout</button>
    </a>
</div>
</body>
</html>