<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
/* Center-align form containers */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
</style>
</head>
<body>

<h1>FAKE SOCIAL MEDIA MAIN PAGE.</h1>
<p>MAIN PAGE SHENANIGANS.</p>
<div class="center-container">
  <a href="http://127.0.0.1:5000/login">
    <button>Login</button>
  </a>
  <a href="http://127.0.0.1:5000/create_account">
    <button>Create Account</button>
  </a>
</div> 
</body>
</html>