<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Notifications</title>
    <style>
        h1 { text-align: center; }
        p { text-align: center; }
        .dashes { text-align: center; margin: 20px 0; } /* Center the dashes */
        div { margin-bottom: 10px; } /* Adds space between buttons */
    </style>
</head>
<body>
    <h1>Your Notifications.</h1>
    <p>View likes and comments.</p>

    <div class="dashes">
        ------------------------------------------------------------------------------------------------------------------------------------------
    </div>

    <div>
        <a href="http://127.0.0.1:5000/feed">
            <button>View Your Feed</button>
        </a>
    </div>
    <div>
        <a href="http://127.0.0.1:5000/inbox">
            <button>Check Your Inbox</button>
        </a>
    </div>
    <div class="buttons">
        <a href="http://127.0.0.1:5000/dms">
            <button>Send Another DM</button>
    </div>
    <div>
        <a href="http://127.0.0.1:5000/logout">
            <button>Logout</button>
        </a>
    </div>
</body>
</html>